<div class="excelSheetEditForm">
  <%= form_for @excel_sheet do |f| %>
    <%= f.label :name %>:
    <%= f.text_field :name %>
    <%= f.submit %>
  <% end %>
</div>
<%= link_to "Back", "/excel_sheets" %>
