<div id="newExcelForm">
  <%= form_for @excel_sheet do |f| %>
  <%= f.file_field :spreadsheet %>
      <% if flash[:filetype]%>
        <p class="flashAlert"><%= flash[:filetype] %></p>
      <% end %>
      <% if @loader %>
        <p>Uploading file, please wait!</p>
      <% end %>
      <%= f.submit %>
  <% end %>
</div>
<%= link_to "Back", :back %>
<%= javascript_include_tag params[:controller] %>
