<div class="sheetsContainer">
  <div class="sheetActionLinks">
    <%= link_to "#{@sheet.excel_sheet.name}", "/excel_sheets/#{@sheet.excel_sheet.id}" %>
  </div>
  <div class="sheetActionLinks">
      <p>Current Sheet: <%= @sheet[:name] %></p>
      <div>
        <%= link_to "Edit", edit_excel_sheet_sheet_path %>
        <%= link_to "Delete", "/excel_sheets/#{@sheet.excel_sheet.id}/sheets/#{@sheet.id}/", data: {confirm: "Are you sure you want to delete this sheet?"}, method: :delete %> 
      </div>
  </div>
    <div class="columnsList">
      <p>Columns:</p>
        <% @sheet.columns.each do |column| %>
        <a href="<%= @sheet.id%>/columns/<%=column.id%>"><%= column[:header]%></a>
      <% end %>
    </div>
</div>

<%= link_to "Back", :back %>


