<nav>
  <div class="radio-container">
    <%= label_tag "html", "Show HTML"%>
    <%= radio_button_tag "html", "show", true %>
    <%= label_tag "html", "Hide HTML"%>
    <%= radio_button_tag "html", "hidden" %>
  </div>
  <div class="radio-container">
    <%= label_tag "row", "Show row numbers"%>
    <%= radio_button_tag "row", "show", true %>
    <%= label_tag "row", "Hide row numbers"%>
    <%= radio_button_tag "row", "hidden" %>
  </div>
</nav>

