  <p>Column Name: <%= @column[:header] %>
  <ul>
  <% @rows.each_with_index do |row, index| %>
    <li>Row <%= index + 1 %></li>
    <% unless row[:content].nil?%>
      <% row[:content].each do |word| %>
        <% if word.match(@regex)%>
          <xmp class="code text"><%=word%></xmp>
        <% elsif word.start_with?("%") && word.end_with?("%") %> 
          <xmp class="code text"><%=word%></xmp>
        <% else %>
          <p class="text"><%= word%></p>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  </ul>
