<%= render "toolbar" %>
  <div class="content">
    <h4>Column Name: <%= @column[:header] %></h4>
    <% @rows.each_with_index do |row, index| %>
      <div class="content-row">
        <p class="row-number"><%= index + 1 %></p>
        <div class="text-container">
        <% unless row[:content].nil?%>
          <% row[:content].each do |word| %>
            <% if word.match(@regex)%>
              <code class="code text"><%=word%></code>
            <% elsif word.start_with?("%") && word.end_with?("%") %> 
              <code class="code text"><%=word%></code>
            <% else %>
              <p class="text"><%= word%></p>
            <% end %>
          <% end %>
        <% else %>
          <p class="text"> </p>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
